*~
*.bin
moc_*.cpp
ui_*.h
*.o
StimulateOpenGL_II
StimulateOpenGL_II.xcodeproj
StimulateOpenGL_II.vcproj
StimulateOpenGL_II.vcproj.*
StimulateOpenGL_II.sln
StimulateOpenGL_II.sln.*
StimulateOpenGL_II.kdevelop
StimulateOpenGL_II.kdevelop.*
debug
release
object_script.StimulateOpenGL_II*
StimulateOpenGL_II.ncb
StimulateOpenGL_II.suo
StimulateOpenGL_II.tag
StimulateOpenGL_II.spec
Info.plist
StimulateOpenGL_II.app
Makefile.*
Makefile
core
core.*
StimulateOpenGL_II.kdevses
_UpgradeReport_Files
UpgradeLog.XML
*.asv
*.idb
*.pdb

